* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gestionMateriasContainer {
    width: 100%;
    margin-top: 6%;
    background-color: #61A5C2;
    padding: 6% 0;
    display: flex;
    justify-content: center;
}

.gestionMaterias {
    margin-top: -20px;
    background-color: #f5f5f5;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15% 2%;
    position: relative;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0 4px 15px rgba(15, 16, 16, 0.5);
}

#imagenProfesora {
    width: 450px;
    height: 640px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    position: absolute;
    left: 2.5%;
    top: -25%;
    margin-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#imagenProfesora:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}

.textoContainerMaterias {
    background-color: #e1e5f2;
    border-radius: 18px;
    display: inline-block;
    margin-left: 42%;
    width: 60%;
    height: 80px;
    padding: 0%;
    padding-bottom: 300px;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.textoContainerMaterias:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}

#tituloMaterias {
    color: #023E7D;
    font-size: 50px;
    margin-left: 148px;
    margin-top: 45px;
}

#textoMaterias {
    margin-top: 38px;
    margin-left: 190px;
    line-height: 32px;
    font-size: 20px;
}

span {
    font-weight: bold;
    color: #002855;
}

#botonMaterias{
    background-color: #0353A4;
    padding: 35px 60px;
    height: 20px;
    margin-top: 60px;
    margin-left: 200px;
    border: none;
    color: #e1e5f2;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 19px;
    padding-top: 20px;
}

#botonMaterias:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}


.consultarHorarioContainer {
    width: 100%;
    margin-top: 12%;
    background-color: #468FAF;
    padding: 6% 0;
    display: flex;
    justify-content: center;
}

.consultarHorario {
    margin-top: -20px;
    background-color: #f5f5f5;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15% 2%;
    position: relative;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0 4px 15px rgba(15, 16, 16, 0.5);
}

#imagenHorario {
    width: 450px;
    height: 640px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    position: absolute;
    left: 2.5%;
    top: -25%;
    margin-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#imagenHorario:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}

.textoContainerHorario {
    background-color: #e1e5f2;
    border-radius: 18px;
    display: inline-block;
    margin-left: 42%;
    width: 60%;
    height: 80px;
    padding: 0%;
    padding-bottom: 300px;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.textoContainerHorario:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}

#tituloHorario {
    color: #023E7D;
    font-size: 50px;
    margin-left: 148px;
    margin-top: 45px;
}

#ingresarUsuario{
    width: 360px;
    height: 60px;
    margin-top: 40px;
    margin-left: 160px;
    background-color: transparent;
    font-size: 24px;
}

span {
    font-weight: bold;
    color: #002855;
}

#botonHorario{
    background-color: #0353A4;
    padding: 35px 60px;
    height: 20px;
    margin-top: 60px;
    margin-left: 200px;
    border: none;
    color: #e1e5f2;
    box-shadow: 0 4px 15px rgba(169, 214, 229, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 19px;
    padding-top: 20px;
}

#botonHorario:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 25px rgba(169, 214, 229, 0.7);
}

#SectionContraseña {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.contenedor-formulario {
    background: #d0d0d0;
    padding: 60px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #bbb;
}

.titulo-formulario {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    font-weight: normal;

}

.divisor-titulo {
    width: 100%;
    height: 2px;
    background: none;
    border: none;
    border-top: 2px dashed #333;
    margin-bottom: 35px;
}


.entrada-formulario {
    width: 100%;
    padding: 18px 20px;
    border: 2px solid #666;
    border-radius: 5px;
    font-size: 16px;
    background: #f8f8f8;
    color: #333;
    font-family: inherit;
    margin-right: 100%;
}

.entrada-formulario:focus {
    outline: none;
    border-color: #444;
    background: #fff;
}

.entrada-formulario::placeholder {
    color: #888;
}

.boton-enviar {
    width: 60%;
    padding: 15px;
    background: #a8a8a8;
    color: #333;
    border: 2px solid #888;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.boton-enviar:hover {
    transform: scale(1.05);
}

.pie-formulario {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #bbb;
}

.enlace-volver {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.enlace-volver:hover {
    color: #333;
    text-decoration: underline;
}

.texto-ayuda {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    text-align: left;
}

.footerContainer {
    background-color: #979DAC;
    padding: 50px 0;
    color: #333;
    margin-top: 90px;

}

.footer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

.logoSection {
    display: block;
    align-items: flex-start;
    gap: 15px;
}


.logoImage {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    margin-left: 10px;
}

.logoText h3 {
    font-size: 18px;
    font-weight: bold;
    color: #e1e5f2;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-top: 20px;
    letter-spacing: 2px;
}


.titulos{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #e1e5f2;
    margin-bottom: 15px;
    margin-left: 85px;
}

.columnaFooter ul {
    list-style: none;
}

.columnaFooter  ul li {
    margin-bottom: 10px;
}

.columnaFooter ul li span {
    color: #e1e5f2;
    margin-left: 40px;
}

.contactoInfo p {
    color: #e1e5f2;
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 75px;

}


        .btnEnlaces {
    background-color: #007C8A;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}